<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>My Resume HTML Bootstrap Template</title>

  <!-- Bootstrap -->
  <link href="~/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="~/css/font-awesome.css">
  <link rel="stylesheet" href="~/css/animate.css">
  <link href="~/css/style.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <!-- =======================================================
    Theme Name: MyResume
    Theme URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <div class="wrapper" id="wrapper">
    <header>
      <div class="banner row" id="banner">
        <div class="parallax text-center" style="background-image: url(/img/1.jpg);">
          <div class="parallax-pattern-overlay">
            <div class="container text-center" style="height:600px;padding-top:170px;">
              <a href="#"><img id="site-title" class=" wow fadeInDown" wow-data-delay="0.0s" wow-data-duration="0.9s" src="~/img/2.png" alt=""/></a>
              <h2 class="intro"><a href="index.html">My Resume</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="navwrapper">
              <div class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                  <div class="navArea">
                    <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <li class="menuItem active"><a href="/Home/Index">Home</a></li>
                        <li class="menuItem"><a href="/Home/About">About Us</a></li>
                        <li class="menuItem"><a href="#specialties">Skills</a></li>
                        <li class="menuItem"><a href="#gallery">Portfolio</a></li>
                        <li class="menuItem"><a href="#feedback">Education</a></li>
                        <li class="menuItem"><a href="#contact">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    @RenderBody()
       <!--footer-->
    <section class="footer" id="footer">
      <p class="text-center">
        <a href="#wrapper" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
      </p>
      <div class="container">
        <ul>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-flickr"></i></a></li>
        </ul>
        <p>&copy; MyResume Theme. All Rights Reserved.</p>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyResume
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </section>

  </div>
  <script src="~/js/jquery.js"></script>
  <script src="~/js/modernizr.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/menustick.js"></script>
  <script src="~/js/parallax.js"></script>
  <script src="~/js/easing.js"></script>
  <script src="~/js/wow.js"></script>
  <script src="~/js/smoothscroll.js"></script>
  <script src="~/js/masonry.js"></script>
  <script src="~/js/imgloaded.js"></script>
  <script src="~/js/classie.js"></script>
  <script src="~/js/colorfinder.js"></script>
  <script src="~/js/gridscroll.js"></script>
  <script src="~/js/contact.js"></script>
  <script src="~/js/common.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>
  <script type="text/javascript">
    jQuery(function($) {
      $(document).ready(function() {
        //enabling stickUp on the '.navbar-wrapper' class
        $('.navbar-wrapper').stickUp({
          parts: {
            0: 'banner',
            1: 'aboutus',
            2: 'specialties',
            3: 'gallery',
            4: 'feedback',
            5: 'contact'
          },
          itemClass: 'menuItem',
          itemHover: 'active',
          topMargin: 'auto'
        });
      });
    });
  </script>
  <script src="~/contactform/contactform.js"></script>


</body>

</html>
